<%= form_for [recipe, direction] do |f| %>

  <div class="field">
    <%= f.label :step_number, "Step" %>
    <%= f.select :step_number, options_for_select((1..recipe.directions.count + 1), selected: recipe.directions.count + 1) %><br>
  </div>

  <div class="field">
    <%= f.label :body, "Add New Instruction" %><br>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
