<%= form_for [recipe, @recipe_ingredient] do |f| %>

  <div class="field">
    <%= f.label :unit_amount, "Amount of Desired Ingredient"%><br>
    <%= f.text_field :unit_amount %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Save Ingredients", class: "button" %>
  </div>
<% end %>
