<%= form_for [recipe, @recipe_ingredient] do |f| %>
  <div class="field">
    <%= f.label :numerator_amount %>
    <%= f.number_field :numerator_amount %>

    <%= f.label :denominator_amount %>
    <%= f.number_field :denominator_amount, value: 1 %>
  </div>

  <div class="field">
    <%= f.label :unit, "Unit of Measure"%><br>
    <%= f.text_field :unit, value: "Unit" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
