<h1>Editing Recipe</h1>

<%= render 'form' %>

<ul>
  Ingredients:
  <% @recipe.recipe_ingredients.each do |item| %>
    <li><%= item.unit_amount %> of <%= item.ingredient.name %></li>
  <% end %>
</ul>

<%= render partial: 'ingredients_form', locals: { recipe: @recipe, recipe_ingredient: @recipe_ingredient }%>

<ol>
Directions:
  <% @recipe.directions.order(step_number: :ASC).each do |step| %>
    <li><%= step.body %></li>
  <% end %>
</ol>

<%= render partial: 'direction_form', locals: { recipe: @recipe, direction: @direction }%>

<%= link_to 'Show', @recipe %>
<%= link_to 'Back', recipes_path %>
