
<div class= "row">
<p id="notice"><%= notice %></p>

<% if @recipe != nil %>
  <h2>
    <%= @recipe.name %>
  </h2>
  <hr>
  <div class="row">
    <div class="small-8 columns">
      <div class="explore-pic">
        <img src= <%= @recipe.image_url %>  alt="Picture of Food">
      </div>
    </div>
    <div class="small-4 columns end">
      <%= form_tag "/explore/#{@recipe.id}/next_recipe" do |f| %>
        <div class="actions">
          <%= submit_tag "Next Recipe", class: "button" %>
        </div>
      <% end %>

      <%= form_tag "/explore/#{@recipe.id}/like" do |f| %>
        <div class="actions">
          <%= submit_tag "Favorite" , class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
  <h5>
    Category:
    <%= @recipe.category %>
  </h5>

  <h5>
    Preparation Time:
    <%= @recipe.prep_time %>
  </h5>
  <h3>Ingredients: </h3>
  <ul>
    <% @recipe.recipe_ingredients.each do |item| %>
      <li><%= item.unit_amount %> of <%= item.ingredient.name %></li>
    <% end %>
  </ul>
<h3>Directions:</h3>
  <ol>
    <% @recipe.directions.order(step_number: :ASC).each do |step| %>
      <li><%= step.body %></li>
    <% end %>
  </ol>

<% else %>
  <p>Your all out of suggestions for today.  Click below to continue searching.</p>
  <p><%= link_to 'Back', recipes_path %></p>
  <p><%= link_to 'Click Here to get more suggestions', explore_index_path %></p>
<% end %>
</div>
