<p id="notice"><%= notice %></p>

<% if @recipe != nil %>
  <p>
    Name:
    <%= @recipe.name %>
  </p>

  <img src= <%= @recipe.image_url %> alt="Picture of Food">

  <p>
    Category:
    <%= @recipe.category %>
  </p>

  <p>
    Preparation Time:
    <%= @recipe.prep_time %>
  </p>

  <ul>
    Ingredients:
    <% @recipe.recipe_ingredients.each do |item| %>
      <li><%= item.unit_amount %> of <%= item.ingredient.name %></li>
    <% end %>
  </ul>

  <ol>
    Directions:
    <% @recipe.directions.order(step_number: :ASC).each do |step| %>
      <li><%= step.body %></li>
    <% end %>
  </ol>

  <%= form_tag "/explore/#{@recipe.id}/next_recipe" do |f| %>
    <div class="actions">
      <%= submit_tag "Next Recipe" %>
    </div>
  <% end %>

  <%= form_tag "/explore/#{@recipe.id}/like" do |f| %>
    <div class="actions">
      <%= submit_tag "Yummy" %>
    </div>
  <% end %>

<% else %>
  <p>Your all out of suggestions for today.  Click below to continue searching.</p>
  <p><%= link_to 'Back', recipes_path %></p>
  <p><%= link_to 'Click Here to get more suggestions', explore_index_path %></p>
<% end %>
