<!DOCTYPE html>
<html>
<head>
  <title>Raving Recipes</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Raving Recipes</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>


    <div class="small-2 columns">
      <div class="side-nav-border">
        <ul class="side-nav" id="side-nav-border">
          <li class="side-text"><%= link_to "Search for Recipes", recipes_path %></li>
          <% if current_user != nil %>
            <li class="side-text"><%= link_to "View my Recipes", user_path(current_user) %></li>
            <li class="side-text"><%= link_to "Create a New Recipe", new_user_recipe_path(current_user) %></li>
          <% end %>
          <li class="side-text"><%= link_to "Explore New Recipes", explore_index_path %></li>

        </ul>
      </div>
    </div>

    <div class="small-9 columns">
      <%= yield %>
    </div>


  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
