<!DOCTYPE html>
<html>
<head>
  <title>Raving Recipes</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar title">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Recipe Finder</a></h1>
      </li>
    </ul>


      <ul class="right user-control">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>

  </nav>


  <div class="top-bar sticky-navbar no-pad-bot">

    <div class="small-12 columns">
      <% if current_user != nil %>
        <div class="small-3 columns">
          <%= link_to "Search Recipes", recipes_path %>
        </div>
        <div class="small-3 columns">
          <%= link_to "Suggested Recipes", explore_index_path %>
        </div>
        <div class="small-3 columns">
          <%= link_to "View my Recipes", user_path(current_user) %>
        </div>
        <div class="small-3 columns">
          <%= link_to "Add New Recipe", new_user_recipe_path(current_user) %>
        </div>

      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
  </div>

  <div class="small-3 columns no-pad">
    <div class="side-nav">
      <ul class="side-text">
        <h3>Trending Recipes</h3>
        <% recipe_ids = [2026, 2789, 1836] %>
        <% recipe_ids.each do |r_id| %>
          <% recent_recipe = Recipe.find(r_id) %>
          <h4><li><%= recent_recipe.name %></li></h4>
          <p><%= link_to image_tag(recent_recipe.image_url), recipe_path(recent_recipe) %></p>
        <% end %>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="small-9 columns content">
    <%= yield %>
  </div>



  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
